.home_background {
    width:100%;
    height: 100%;
    background-image: url('./assets/hand-shake1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}
.scanner-img{
    width: 4rem;
    height: 4rem;
}
.logIn {
    border: 2px solid white;
}
.logIn:hover{
    background-color: white;
}
.errorMessage{
    color: red;
}
.nav-background {
    background-color: #E45218;
}
.form-bgColor{
    background-color: rgb(66, 65, 65);
    border-radius: 2rem;
}